@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400italic,700|Open+Sans:400,300,600,700);

/* GENERAL */

body {
	overflow-x: hidden;
    background-image: url("img/pattern.png");
    background-repeat: repeat;
}

a, a:hover {
	text-decoration: none;
	color: rgba(0, 0, 0, 0.7);
}

/* INTRO */

.intro {
	width: 100%;
	height: 100vw;
	margin: 0;
	padding: 0;
}

.intro .background-img {
	position: absolute;
	width: 100%;
	height: 100vw;
	z-index: 0;
}

.intro .background-img>div {
	height: 100%;
	width: 100%;
	background: no-repeat center center;
	background-size: cover;
}

.intro .contenu {
	position: relative;
	z-index: 100;
	width: 100%;
	margin-top: 50vw;
	transform: translateY(-50%);
}

.intro .logo-img {
	margin-left: auto;
	margin-right: auto;
	width: 200px;
	height: 200px;
}

.intro .logo-img>div {
	height: 100%;
	width: 100%;
	background: no-repeat center center;
	background-size: cover;
}

.intro h1 {
	text-align: center;
	color: #fff;
	font-family: 'Open Sans', Helvetica, sans-serif;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 16px;
	margin-left: 10px;
}

.intro .bouton-offrir {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	background-image: url("img/pattern.png");
    background-repeat: repeat;
    padding: 5%;
    margin-top: 15%;
    color: rgba(0, 0, 0, 0.7);
}

.intro .bouton-offrir h2 {
	margin: 0;
	font-family: 'Open Sans', Helvetica, sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 3px;
}

.intro .bouton-offrir:hover h2 {
 	color: rgba(225, 28, 40, 0.8);
}

/* DECOUVRIR */

.decouvrir {
	height: 100vw;
	width: 100%;
	margin: 0;
}

/* OFFRIR */
/* CHOIX ACTIVITE */

.choix {
	width: 100%;
	margin: 0;
	padding: 5vw 5vw 0vw 5vw;
}

.choix .logo {
	margin-left: auto;
	margin-right: auto;
}

.choix .logo-img {
	margin-left: auto;
	margin-right: auto;
	width: 10vw;
	height: 10vw;
}

.choix .logo-img>div {
	height: 100%;
	width: 100%;
	background: no-repeat center center;
	background-size: cover;
}

.choix h1 {
	text-align: center;
    font-family: 'Open Sans';
    font-size: 1.5vw;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin: 0;
    margin-left: 15px;
    margin-top: 1vw;
    color: rgba(0, 0, 0, 0.7);
}

.choix .row {
	margin-right: auto;
	margin-left: auto;
	width: 100%;
}

.choix .colonne {
	padding: 0;
	margin-bottom: 3vw;
}

.activite {
	width: 100%;
	padding: 5vw;
}

.activite-icone {
	height: 12vw;
	width: 12vw;
	margin-left: auto;
	margin-right: auto;
}

.activite-icone>div {
	height: 100%;
	width: 100%;
	background: no-repeat center center;
	background-size: cover;
}

.activite h2 {
	font-family: 'Libre Baskerville', Times, serif;
	text-align: center;
	text-transform: uppercase;
	color: rgba(225, 28, 40, 0.8);
	letter-spacing: 3px;
	font-size: 1.5vw;
	margin-top: 2vw;
	line-height: 1.5;
	font-weight: 700;
}

.activite h3 {
	font-family: 'Libre Baskerville', Times, serif;
	font-size: 1.8vw;
	text-align: center;
	line-height: 1.2;
	letter-spacing: 3px;
	margin-top: 3vw;
	color: rgba(0, 0, 0, 0.7);
}

.activite p {
	font-family: 'Open Sans', Helvetica, sans-serif;
	text-align: right;
	letter-spacing: 3px;
	font-size: 1.3vw;
	margin-top: 5vw;
	text-transform: uppercase;
}

.activite p:hover {
	color: rgba(225, 28, 40, 0.8);
}

.choix .colonne .col-xs-12 {
	padding: 0;
}

.choix .bouton-choisir {
	width: 75%;
	margin-right: auto;
	margin-left: auto;
	border: 2px solid rgba(0, 0, 0, 0.7);
	padding: 1.5vw;
	text-align: center;
	font-family: 'Open Sans', Helvetica, sans-serif;
	letter-spacing: 3px;
	text-transform: uppercase;
	color: rgba(0, 0, 0, 0.7);
	font-weight: 700;
	margin-bottom: 1vw;
	font-size: 1.5vw;
}

.choix .bouton-choisir:hover {
	border: 2px solid rgba(225, 28, 40, 0.8);
}

.choix .bouton-choisir p {
	margin: 0;
}

/* FORMULAIRE CLIENT */

.formulaire {
	width: 100%;
	margin: 0;
	padding: 5vw 5vw 0vw 5vw;
}

.formulaire .menu {
	margin-bottom: 5vw;
}

.formulaire .logo {
	margin-left: auto;
	margin-right: auto;
}

.formulaire .logo-img {
	margin-left: auto;
	margin-right: auto;
	width: 125px;
	height: 125px;
}

.formulaire .logo-img>div {
	height: 100%;
	width: 100%;
	background: no-repeat center center;
	background-size: cover;
}

.formulaire h1 {
	text-align: center;
    font-family: 'Open Sans';
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin: 0;
    margin-left: 15px;
    margin-top: 1vw;
    color: rgba(0, 0, 0, 0.7);
}

.formulaire h2 {
	text-align: center;
	font-family: 'Libre Baskerville', Times, serif;
	color: rgba(0, 0, 0, 0.7);
	letter-spacing: 3px;
	font-size: 2vw;
	line-height: 3vw;
}

.formulaire-cadre {
	width: 100%;
	border: 2px dashed rgba(0, 0, 0, 0.7);
	margin-bottom: 5vw;
	margin-top: 5vw;
	padding: 3vw;
}

.formulaire label {
	font-family: 'Libre Baskerville', Times, serif;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: rgba(0, 0, 0, 0.7);
	font-size: 1.3vw;
}

.formulaire input {
	border: 2px solid rgba(0, 0, 0, 0.7);
	float: right;
	background-color: transparent;
	color: rgba(0, 0, 0, 0.7);
  	font-family: 'Open Sans', Helvetica, sans-serif;
	letter-spacing: 3px;
	text-transform: uppercase;
}

.formulaire input:focus {
	outline: none;
	border: 2px solid rgba(225, 28, 40, 0.8);
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba(0, 0, 0, 0.5);
  font-family: 'Open Sans', Helvetica, sans-serif;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 1.4vw;
  padding-left: 10px;
}
::-moz-placeholder { /* Firefox 19+ */
  color: rgba(0, 0, 0, 0.5);
  font-family: 'Open Sans', Helvetica, sans-serif;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 1.2vw;
}
:-ms-input-placeholder { /* IE 10+ */
  color: rgba(0, 0, 0, 0.5);
  font-family: 'Open Sans', Helvetica, sans-serif;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 1.2vw;
}
:-moz-placeholder { /* Firefox 18- */
  color: rgba(0, 0, 0, 0.5);
  font-family: 'Open Sans', Helvetica, sans-serif;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 1.2vw;
}

.formulaire p {
	font-family: 'Libre Baskerville', Times, serif;
	color: rgba(0, 0, 0, 0.7);
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 1.3vw;
	text-align: center;
	margin-bottom: 3vw;
	font-weight: 700;
}

.formulaire .boutons-offrir {
	width: 50%;
	margin-right: auto;
	margin-left: auto;
}

.formulaire .boutons-offrir input {
	font-size: 1.5vw;
	border: 2px solid rgba(225, 28, 40, 0.8);
	color: rgba(225, 28, 40, 0.8);
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	float: inherit;
	display: inline-block;
	margin-bottom: 2vw;
	padding: 1.5vw;
	font-weight: 400;
}

.formulaire .boutons-offrir input:hover {
	font-weight: 700;
}

/* RESPONSIVE : TABLETTE */

@media (min-width: 768px) {

.intro .logo-img {
	width: 250px;
	height: 250px;
}

.intro h1 {
	font-size: 24px;
}

.intro .bouton-offrir {
	width: 50%;
    padding: 4%;
    margin-top: 10%;
}

.intro .bouton-offrir h2 {
	font-size: 14px;
}

/* OFFRIR */
/* FORMULAIRE CLIENT */

.formulaire-cadre {
	width: 75%;
}

/* RESPONSIVE : DESKTOP */

@media (min-width: 992px) {

.intro .bouton-offrir {
	width: 20%;
    padding: 1.5%;
    margin-top: 5%;
}

/* OFFRIR */
/* CHOIX ACTIVITE */

.choix .menu {
	height: 15vw;
	width: 100%;
	margin-bottom: 0;
}

.choix .logo {
	float: left;
	height: 100%;
	width: 20vw;
}

.choix .logo-img {
	height: 10vw;
	width: 10vw;
}

.choix h1 {
	font-size: 1.2vw;
	font-weight: 700;
	letter-spacing: 0.5vw;
}

.choix .navbar {
	float: right;
	margin: 0;
	margin-top: 5vw;
}

.choix .navbar p {
	display: inline-block;
    margin: 0;
    font-family: 'Open Sans';
    letter-spacing: 0.5vw;
    text-transform: uppercase;
    font-size: 1.5vw;
    margin-left: 5vw;
    margin-right: 5vw;
    color: rgba(0, 0, 0, 0.7);
}

.choix .navbar p:hover {
    color: rgba(225, 28, 40, 0.8);
}

.choix .navbar .active {
	color: rgba(0, 0, 0, 1);
	font-weight: 700;
}

.choix .row {
	height: 80vw;
	padding: 0;
}

.choix .colonne {
	padding: 5vw;
	height: 70vw;
}

.choix .activite {
	height: 100%;
}

.choix .activite-icone {
	height: 12vw;
	width: 12vw;
	margin-left: auto;
	margin-right: auto;
}

.activite h2 {
	letter-spacing: 0.5vw;
	font-size: 2vw;
	margin-top: 3vw;
	line-height: 1.5;
}

.activite h3 {
	letter-spacing: 0.5vw;
	font-size: 1.3vw;
	margin-top: 3vw;
	text-align: left;
	line-height: 2vw;
}

.activite p {
	margin-top: 3vw;
}

/* FORMULAIRE CLIENT */

.formulaire .menu {
	height: 15vw;
	width: 100%;
	margin-bottom: 0;
}

.formulaire .logo {
	float: left;
	height: 100%;
	width: 20vw;
}

.formulaire .logo-img {
	height: 10vw;
	width: 10vw;
}

.formulaire h1 {
	font-size: 1.2vw;
	font-weight: 700;
	letter-spacing: 0.5vw;
}

.formulaire .navbar {
	float: right;
	margin: 0;
	margin-top: 5vw;
}

.formulaire .navbar p {
	display: inline-block;
    margin: 0;
    font-family: 'Open Sans';
    letter-spacing: 0.5vw;
    text-transform: uppercase;
    font-size: 1.5vw;
    margin-left: 5vw;
    margin-right: 5vw;
    color: rgba(0, 0, 0, 0.7);
}

.formulaire .navbar p:hover {
    color: rgba(225, 28, 40, 0.8);
}

.formulaire .navbar .active {
	color: rgba(0, 0, 0, 1);
	font-weight: 700;
}

.formulaire-cadre {
	width: 50%;
}

.formulaire .sous-titre {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

.formulaire .sous-titre h2 {
	text-align: left;
}

.formulaire .destinataire {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

.formulaire p {
	text-align: left;
}

.formulaire .boutons-offrir {
	margin-right: 0;
}

/* RESPONSIVE : TRES GRANDS ECRANS*/

@media (min-width: 1200px) {

/* OFFRIR */
/* CHOIX ACTIVITE */

.choix .colonne {
	padding: 6.5vw;
}

.activite h2 {
	margin-top: 5vw;
}

.activite h3 {
	margin-top: 5vw;
}

.activite p {
	margin-top: 5vw;
}
